$border-main-gray: rgba(215, 221, 233, 1);
$text-main-gray-dark: rgba(0, 0, 0, 0.54);
$color-white: #FFFFFF;
$color-red-start: #D30707;
$color-red-end: #F05353;
$color-blue-checkmarkBg: rgba(160, 220, 246, 1);
$color-blue-checkmarkCheck: rgba(7, 150, 211, 1);
$color-blue-start: #0796d3;
$color-blue-end: #53c0f0;
$color-background-white: rgba(255, 255, 255, 1);
$color-border-light: rgba(234, 236, 240, 1);
$color-hover-background: rgba(247, 249, 253, 1);
$color-shadow-light: rgba(16, 24, 40, 0.05);
$color-modal-shadow: rgba(16, 24, 40, 0.18);
$color-cancel-background: rgba(231, 238, 251, 1);

.container {
    display: flex;
    flex-direction: column;
    font-family: Inter Tight;
    margin: 2.4rem 5.6rem;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid $border-main-gray;
    max-width: 1328px;

    .welcomeUser {
        max-width: 284rem;
        margin: 0 288px 0 372px;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 29.04px;
        letter-spacing: -0.02em;
    }

    time {
        font-family: Inter Tight;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 19.36px;
        letter-spacing: -0.02em;
        text-align: left;
        color: $text-main-gray-dark;
    }
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    gap: 2.4rem;
    margin: 4rem auto 2.4rem;
    padding: 3.2rem;
    width: 450px;
    font-size: 1.6rem;

    background: $color-background-white;
    border: 1px solid $color-border-light;
    border-radius: 16px;

    box-shadow: 0px 1px 2px 0px $color-shadow-light;

    ul {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 19.36px;
        letter-spacing: -0.02em;
        color: $text-main-gray-dark;
    }

    .taskText {
        max-width: 280px;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }

    .completed {
        text-decoration: line-through;
        color: $text-main-gray-dark;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 1.6rem;

        border: 0.0625rem dashed $border-main-gray;
        border-radius: 8px;
        transition: .2s;

        &:hover {
            border: 1px solid transparent;
            background-color: $color-hover-background;
        }

        div {
            display: flex;
            align-items: center;
            gap: 1.6rem;

            span {
                max-width: 300px;
            }
        }

        .checkbox {
            appearance: none;
            width: 20px;
            height: 20px;
            background: $color-white;
            border: 1px solid $border-main-gray;
            border-radius: 4px;
            cursor: pointer;
            position: relative;
            
            &:checked {
                transition: all 0.3s ease;
                background: $color-blue-checkmarkBg;
                border: 1px solid $color-blue-checkmarkCheck;
                
                &::after {
                    content: '✔';
                    color: $color-blue-start;
                    position: absolute;
                    font-size: 16px;
                    left: 3px;
                    top: -2.5px;
                }
            }
        }
    }

    span {
        font-size: 1.6rem;
    }

    button {
        color: #B0BBD1;
        border: none;
        background-color: transparent;

        &:hover {
            cursor: pointer;
            
        }
    }

    .noTasksAdded {
        text-decoration: underline;
    }
}

.addTask {
    width: 45rem;
    margin: 0 auto;
    padding: 16px 24px;
    background: linear-gradient(90deg, $color-blue-start 0%, $color-blue-end 68.65%);
    border: none;
    border-radius: .8rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    color: $color-white;

    &:hover {
        cursor: pointer;
    }
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(.2rem);
    background: rgba(255, 255, 255, 0.418);
    font-size: 1.6rem;

    .openModal, .openDeleteModal {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        padding: 3.2rem;
        max-width: 45rem;
        border-radius: 1rem;
        background: $color-background-white;
        box-shadow: 0rem 1.5rem 3rem -0.75rem $color-modal-shadow;

        h2 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 29.04px;
            letter-spacing: -0.02em;
            text-align: left;
        }
        
        .newTaskInput {
            display: flex;
            flex-direction: column;
            gap: .8rem;
        }

        span {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 19.36px;
            letter-spacing: -0.02em;
            text-align: left;
        }

        input {
            padding: 1.6rem;
            border: 1px solid $border-main-gray;
            border-radius: 8px;
            font-size: 1.6rem;
        }
    }

    .deleteModalText {
        color: $text-main-gray-dark;
    }

    .modalButtons {
        display: flex;
        justify-content: space-evenly;
        gap: 1.6rem;

        button {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 19.36px;
            letter-spacing: -0.02em;
            color: $text-main-gray-dark;
            padding: 1.6rem;
            border: none;
            border-radius: 8px;
            width: 18.5rem;
            height: 5.1rem;

            &:hover {
                cursor: pointer;
            }
        }

        .cancelButton {
            background: $color-cancel-background;
            color: black;
        }

        .addButton {
            background: linear-gradient(90deg, $color-blue-start 0%, $color-blue-end 68.65%);
            color: $color-white;
        }

        .deleteButton {
            background: linear-gradient(90deg, $color-red-start 0%, $color-red-end 68.65%);
            color: $color-white;
        }
    }
}

@media (max-width: 576px) {
    .container {
        margin: 2.4rem auto;
        max-width: 27.2rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.8rem;
        text-align: left;
        max-width: 272px;

        .welcomeUser {
            margin: 0;
            font-size: 1.6rem;
            font-weight: medium;
            line-height: 19.36px;
        }

        p {
            font-size: 1.6rem;
            font-weight: normal;
        }
    }

    .tasksContainer {
        max-width: 27.2rem;
        margin:  2.4rem auto;

        .task {
            padding: 1.6rem .8rem ;
        }

        .taskText {
            max-width: 112px;
            word-wrap: break-word;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
        }
    }

    .addTask {
        max-width: 27.2rem;
        margin: 0;
    }

    .modalContainer {
        .openModal, .openDeleteModal {
            width: 100vw;
            height: 100vh;
        }

        .modalButtons {
            display: flex;
            flex-direction: column-reverse;

            button {
                width: 100%;
            }
        }
    }
}