@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  max-height: 768px;
  height: 100vh;
  max-width: 1440px;
  width: 100vw;
  margin: 0 auto;
}
